<% if user_signed_in? %>
	<% if current_user.role == 'owner' %>
		<%= render 'layouts/owner' %>
	<% elsif current_user.role != 'owner' %>
		<%= render 'layouts/patron' %>
    <% end %>
<% else %>
	<% content_for :top_content do %>
	  <div class="container">
		  <div class="center jumbotron">
		    <div class="container">
		      <h1 id="welcome-text">Welcome to Chicago's most *VISIONARY* restaurant app!</h1>
		      <p>Register to get started or <%= link_to 'Log In', new_user_session_path, id: "log-reg" %> if you've been here before :)</p>
		      <p>
		        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg', id: "register" %>
		      </p>
		    </div>
		  </div>
	  </div>
	<% end %>
<% end %>