<div class="container">
	<p class="lead center white">Please select from the following categories:</p>
	<div class="wrapper">
    <div class="dropdown">
  		<button class="btn btn-success dropdown-toggle" type="button" id="categories-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
  			Categories
    		</button>
    		<div class="dropdown-menu">
    		</div>
  </div>
	</div>
</div>